@charset "utf-8";
@import 'lib/setting'; // SASS framework & setting

.header {
  position: relative;
  z-index: 2;
  transition: 0.5s;
  background-color: var(--theme-bg);
  .bar {
    padding: 15px 20px 10px;
    display: flex;
    justify-content: space-between;
    > h1 {
      a {
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: #fff;
        text-transform: capitalize;
        text-decoration: none;
        img {
          margin-right: 2px;
        }
      }
    }
    .utils {
      %button {
        width: 23px;
        height: 23px;
        border: 0;
        padding: 0;
        margin-left: 8px;
        background-color: transparent;
      }
      .theme {
        @extend %button;
        cursor: pointer;
      }
      .qna {
        @extend %button;
      }
    }
  }

  &.active {
    box-shadow: var(--home-sec-itemShadow);
  }
}

.lnb {
  background-color: var(--lnb-bg);
  padding: 0 20px;
  transition: 0.5s;
  > ul {
    display: flex;
    > li {
      a {
        display: block;
        padding: 0 10px;
        text-decoration: none;
        span {
          display: block;
          padding: 10px 0;
          position: relative;
          font-size: 1.5rem;
          font-weight: bold;
          color: #727272;
          transition: 0.3s;

          &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 3px;
            border-radius: 5px;
            background-color: var(--theme-color);
            transition: 0.5s;
          }
        }

        &:hover {
          span {
            color: var(--lnb-active-color);
          }
        }
        &[class*='active'] {
          span {
            color: var(--lnb-active-color);
            &:after {
              width: 100%;
            }
          }
        }
      }
      &:first-child {
        a {
          padding-left: 0;
        }
      }
    }
  }
}
