@charset "utf-8";
@import 'lib/setting'; // SASS framework & setting

@import 'lib/reset'; // 초기화
@import 'lib/base'; // 공통 스타일

.slick-dots {
  bottom: -30px;
  li {
    margin: 0 3px;
    button {
      &:before {
        font-size: 6px;
        color: #b7b7b7;
      }
      &:hover {
        &:before {
          color: #b7b7b7;
        }
      }
    }
    &.slick-active {
      button {
        &:before {
          font-size: 11px;
          color: var(--theme-color);
        }
      }
    }
  }
}

.footer {
  background-color: var(--home-sec-bg);
}
